*{box-sizing: border-box;

}
.Title{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 2%;
}
.glass{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;

}
.glass2
{
  background: rgba( 255, 255, 255, 0.01 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  margin: 5%;
  padding: 5%;
}
.glass3{
  background: rgba( 255, 255, 255, 0.01 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  margin: 3%;
  padding: 1%;
  text-align: center;
}
h3{
  margin: 0;
}
.hump{
  text-align:left;

}
.kit{
  padding: 1%;
}
.Hello{
  padding: 0;
}
.pictures{
  width:100%;
  border-radius: 5px;

}
.space{
  padding-left:0px;
}
.space1{
  margin:1%;
}
.hehe{
  margin:5%;
}
h1{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 5%;
}
